*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: blueviolet;
    text-align: center;
}

.container{
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    width: 60vmin;
    height: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3vmin;
}

.boxes{
    height: 18vmin;
    width: 18vmin;
    font-size: 12vmin;
    color: aqua;
    background-color: rgb(111, 11, 203);
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);     
}

.boxes:hover{
    box-shadow: 0 0 1rem rgb(247, 3, 3);
    scale: 1.03;
}

.rst_btn{
    height: 10vmin;
    width: 25vw;
    font-size: 4vmin;
    color: rgb(68, 239, 239);
    background-color: rgb(33, 6, 57);
    box-shadow: 0 0 1rem rgba(0, 255, 255, 0.3);
    border-radius: 15px;   
}

.rst_btn:hover{
    box-shadow: 0 0 1rem rgb(149, 255, 0);
    transition: 0.1s;
    scale: 1.1;
}

.new_btn{
    height: 9vmin;
    width: 22vw;
    font-size: 3.5vmin;
    color: blue;
    background-color: black;
    border-radius: 15px;  
}