* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.back-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.card {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.418);
  max-width: 470px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 0 7px 2px white;
}

.search-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-bar input {
  width: 300px;
  height: 40px;
  padding-left: 24px;
  border-radius: 24px;
  outline: none;
  border: 1px solid white;
  font-size: 20px;
  background: none;
  box-shadow: 0 0 5px 1px white;
}

.search-bar input::placeholder {
  color: whitesmoke;
}

.search-bar i {
  font-size: 30px;
  filter: drop-shadow(0 0 5px 1px white);
  cursor: pointer;
}

.error {
  font-size: 16px;
  color: red;
  padding-top: 5px;
  text-align: center;
  display: none;
}

.weather-image {
  margin: auto;
  text-align: center;
  filter: drop-shadow(0 0 5px rgba(255, 255, 0, 0.5));
}

.weather-image img {
  width: 150px;
}

.temperature {
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

.weather-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px 24px 0 24px;
}

.details {
  width: 120px;
  height: 100px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.418);
  box-shadow: 0 0 7px 2px white;
  padding: 10px;
  text-align: center;
}

.details .fa-solid {
  font-size: 30px;
  padding-bottom: 5px;
}

.details-data {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}