#loader
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid black;
    border-top: 5px solid red;

    animation: loeader 2s linear infinite normal;   
}

@keyframes loeader {
    form{
        rotate: 0deg;
    }

    to{
        rotate: 360deg;
    }
}