body {
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

.btnBox {
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 1.5rem;
    margin: auto;
}

.btn1 {
    background-color: red;
}

.btn2 {
    background-color: blue;
}

.btn3 {
    background-color: yellow;
}

.btn4 {
    background-color: green;
}