* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Segoe UI', sans-serif;
    background-color: #1e1e1e;
    color: #fff;
}

.container {
    max-width: 95vw;
    height: 100vh;
    margin: 40px auto;
    padding: 20px;
    /* display: flex; */
    flex-direction: column;
    gap: 30px;
}

.top-bar {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box {
    flex-grow: 1;
    margin: 0 20px;
}

input[type="text"] {
    width: 100%;
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

#darkModeToggle,
#getWeatherBtn{
    background-color: #444;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.rearch-btn {
    background-color: #1fd655;
    color: #000;
}

.section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.card {
    background-color: #2c2c2c;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.8rem;
    /* flex: 1; */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.card_time {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    width: 40%;
    padding: 3rem;
    text-align: center;
}
.card_info {
    width: 60%;
    padding: 2rem;
    font-weight: 550;
    font-family: 'Courier New', Courier, monospace;
}

.card.days{
    width: 55%;
    font-family: 'Courier New', Courier, monospace;

}
.card.hourly {
    width: 45%;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.time {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 10px 0;
}

.weather-info {
    font-size: 1.2rem;
    margin: 10px 0;
}

.forecast {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 10px;
}

.forecast .card {
    flex: 1;
    padding: 15px;
    font-size: 0.95rem;
    text-align: center;
}

.weather-icon {
    font-size: 2rem;
    margin: 10px 0;
}