*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    border: 2PX BLUE dotted;
    background-color: aqua;
}

.card{
    margin-top: 30px ;
    background-color: blueviolet;
}

.nav{
    height: 10vmin;
    border: 2px red dotted;
}

.mid{
    border: 2px yellow dotted;
    height: 35vh;
}

.lower{
    border: 2px black dotted;
    height: 35vh;
}

.box{
    
    background-color: gray;
}