* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: black;
}

.sidebar {
    height: 92%;
    width: 330px;
    border-radius: 1rem;
    margin: 0.2rem;
}

.main-contant {
    height: 92%;
    background-color: #121212;
    flex: 1;
    /* width: 100%; */
    border-radius: 1rem;
    overflow-y: auto;
    margin: 0.2rem;
}

.media-player {
    background-color: rgb(0, 0, 0);
    display: flex;
    position: fixed;
    bottom: 0px;
    height: 12%;
    width: 100vw;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #fff;
}

.sidebar-nav {
    background-color: #121212;
    height: 100px;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    padding: 0.5rem;
    opacity: 0.7;
}

.nav-option:hover,
.icon:hover {
    opacity: 1;
}

.sidebar-nav i {
    font-size: 1.25rem;
}

.sidebar-nav a {
    font-size: 1.2rem;
    margin-left: 1rem;
}

.library {
    background-color: #121212;
    border-radius: 0.8rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.7rem;
}

.icon {
    font-size: 1.25rem;
    display: flex;
    opacity: 0.7;
}

.icon i {
    margin-left: 1rem;
}

.lib-box {
    width: 100%;
    height: 9rem;
    margin: 0.9rem 0 0.9rem 0;
    background-color: #232323;
    border-radius: 0.8rem;
}

.box {
    padding: 0.75rem 1rem;
}

.box1 {
    font-size: 1rem;
    font-weight: 500;
}

.box2 {
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge {
    height: 1.6rem;
    width: fit-content;
    font-weight: 900;
    color: black;
    padding: 0.3rem 1rem 0 1rem;
    margin: 0.5rem 0.75rem;
    background-color: white;
    border-radius: 100px;
}

/* //////////////////////////  MAIN CONTAINT //////////////////////// */

.dark-badge {
    color: white;
    background-color: black;
}

.main-nav {
    width: 100%;
    height: 3rem;
    background-color: #232323;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-nav-badge {
    margin-right: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}

.cards-container {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.card-top {
    margin: 1rem 2rem;
}

.card {
    width: 25%;
    padding: 3vmin;
    margin: 1rem;
    border-radius: 0.5rem;
    background-color: #232323;
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-tital {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.5rem 0;
}

.card-info {
    font-size: 0.9rem;
    opacity: 0.6;
}

.footer-line {
    height: 20px;
    width: 92%;
    margin: 35px 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.4);
}

/* /////////////////////////////////  music player  //////////////////////////////////////  */

.left-side {
    width: 25%;
    border: 1px solid red;
}

.mid-player {
    width: 50%;
}

.right-side {
    width: 25%;
    border: 1px solid green;
}

.top {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-icon {
    height: 65%;
    margin: 0 1rem;
    scale: 0.6;
    opacity: 0.7;
}

.play-button {
    scale: 1.5;
    opacity: 1;
}

.top-icon:hover {
    opacity: 1;
}

.bottom {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progrees-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progrees-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progrees-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    margin-top: -6px;
}